@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');

* {
    font-family: 'Merienda', cursive;
    box-sizing: border-box;
}

.container {
    width: 100%;
    padding: 0 10px;
}

html, body, ul {
    margin: 0;
    padding: 0;
}

header {
    background: black linear-gradient(to bottom, black 0%, white 90%);
}

a {
    text-decoration: none;
    color: unset;
}

.logo_tel {
    padding-top: 2rem;
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
}

.logo_tel i {
    padding: 0 0.75rem;
}

.logo_tel div:last-child {
    font-family: 'Redressed', cursive;
}

nav ul {
    margin: auto;
    padding: 2rem 0;
    max-width: max-content;
}

nav ul li {
    list-style: none;
    display: inline-block;
}

nav li a {
    padding: 1rem;
    color: black;
    text-decoration: none;
}

nav li a:hover {
    text-decoration: underline;
}

.section-title {
    background-color: white;
}

h1 {
    margin: auto;
    max-width: max-content;
    text-align: center;
}

.bg {
    /* position: relative; */
    /* margin: 5rem 0; */
    width: 100%;
    min-height: 35rem;
    /* width: 100%; */
    text-align: center;
    background: fixed center no-repeat;
    background-size: cover;
}

.card .container-card {
    width: 100%;
}

.card-body {
    background-color: rgba(0, 0, 0, 0.836);
}

.card h2 {
    margin: auto;
    max-width: max-content;
    padding: 0.4rem;
    font-size: 2rem;
    color: white;
}

.card p {
    margin: auto;
    max-width: max-content;
    padding: 0.4rem;
    font-size: 1.5rem;
    color: white;
}

.card:first-child .bg {
    background-image: url('../assets/images/site/demande_mariage2.jpg');
}

.card:nth-child(2) .bg {
    background-image: url('../assets/images/site/mariage.jpg');
}

.card:nth-child(3) .bg{
    background-image: url('../assets/images/site/bar_mitzva.jpg');
}

.card:last-child .bg{
    background-image: url('../assets/images/site/audience.jpg');
}

footer {
    background: white linear-gradient(to bottom, white 0%, black 90%);
    padding: 3rem;
}

.form-footer {
    margin: auto;
    max-width: max-content;
    text-align: center;
}

.form-footer div {
    margin: 0.5rem;
    display: inline-block;
}

figure {
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-wrap: wrap;
}

.galerie div {
    width: 15rem;
    margin: 0.5rem;
}

.galerie img {
    max-width: 100%;
}

.contact-body {
    margin: 5rem auto;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.container-infos {
    background-color: rgba(255, 255, 255, 0.438);
    padding: 2rem;
    border-radius: 1rem;
}

.contact-body div div {
    margin: 2rem 0;
}

.form-contact {
    width: 20rem;
    padding: 1rem;
}

.form-contact input,
.form-contact textarea {
    width: 90%;
}

.required {
    color: red;
}

.bg-body-contact {
    background-image: url('../assets/images/site/feu_d_artifice2.jpg');
    /* background: center no-repeat; */
    background-size: 100% 100%;
}

.photo_identite {
    width: 15rem;
    height: 15rem;
}

.photo_identite img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.diplome {
    width: 30rem;
    max-width: 100%;
}

.diplome img {
    width: 100%;
}

.panneau_box {
    display: flex;
    height: 550px;
    max-height: 100%;
}

.panneau_nav {
    width: 15.7rem;
}

.panneau_box ul {
    display: flex;
    flex-direction: column;
}

.panneau_box ul li {
    display: flex;
    border: rgb(126, 126, 126) solid 1px;
}

.panneau_box ul li a {
    padding: 1.30rem;
    width: 100%;
    text-decoration: none;
}

.panneau_body {
    width: 100%;
    padding: 1.75rem;
    overflow: scroll;
}

.panneau_body #home_page .container_item {
    /* display: flex;
    flex-wrap: wrap; */
    border: rgb(126, 126, 126) 1px solid;
    border-radius: 0.5rem;
    margin: 1rem auto;
}

.panneau_body #home_page .container_item .container_body {
    display: none;
}

.panneau_body #home_page .container_item:hover .container_body {
    display: flex;
    margin-top: 1rem;
}

.panneau_body #home_page .container_item:hover h4 {
    border-radius: 0.5rem 0.5rem 0 0;
}

.panneau_body #home_page h4 {
    background-color: rgb(126, 126, 126);
    margin: 0;
    padding: 0.5rem 0.75rem;
    border-radius: 5px;
}

.panneau_body #home_page .container_img {
    margin: 0rem 0.75rem;
    width: 10rem;
    height: max-content;
}

.panneau_body #home_page .name_description {
    padding: 0.5rem 1.5rem;
    /* width: 300px; */
    max-width: 100%;
}

.panneau_body #home_page .name_description div {
    margin-bottom: 0.5rem;
}

.panneau_body #home_page .container_action button {
    margin: 0.75rem;
}

.panneau_body #home_page .edit {
    margin: 0rem 1rem;
}

.panneau_body #home_page .container_btn_add_theme {
    margin: 3rem;
}

.modal-title {
    font-size: 1.5rem;
    margin: 0;
}

.bold {
    font-weight: bold;
}

.wid100 {
    width: 100%;
}

.bc_gr {
    background-color: #cfcfcf;
}


.ta-c {
    text-align: center;
}

.btn-gray {
    color: rgb(0, 0, 0);
    background-color: #cfcfcf;
    border-color: #cfcfcf;
}

.btn-gray:hover {
    color: #fff;
    background-color: rgb(126, 126, 126);
    border-color: rgb(126, 126, 126);
}

.btn-gray:focus {
    box-shadow: 0 0 0 0.25rem rgb(138 139 142 / 25%);
}

.col-red {
    color: red;
}


@media (max-width: 767px) {

    nav ul li {
        display: block;
    }
    
    .form-footer div {
        display: block;
    }

    footer li a {
        color: #fff;
    }

}

@media (min-width: 768px) {

    .contact-body {
        flex-direction: row;
    }

}

@media (min-width: 1140px) {

    .container {
        width: 1140px;
        margin: auto;
    }

}

@media (min-height: 650px) {

    .bg {
        background-attachment: scroll;
    }

}