<%- include('../partials/header') %>


<section class="section-title">
    <div class="container">
        <h1>Qui nous sommes</h1>
</section>
<section>
    <div class="container">
        <div class="photo_identite">
            <img src="/assets/images/site/identite.jpg" alt="identité">
        </div>
        <p>
            Depuis plus de 10 ans dans l'événementiel, ...
            <br>
            fait mes études à l'école BLUPMLVB auprès des plus grands conférenciers et 
            apprentissage dans les plus grandes agences événementielles d'Israel
            <br>
            puis créer ma propre agence événementielle
        </p>
        <div class="diplome">
            <img src="/assets/images/site/diplome.png" alt="Diplome">
        </div>
    </div>
</section>


<%- include('../partials/footer') %>