<%- include('../partials/header') %>


<section class="section-title">
    <div class="container">
        <h1>Nous contacter</h1>
</section>
<section>
        <div class="contact-body">
            <div class="container-infos">
                <div>
                    Mickael Benitah
                </div>
                <div>
                    Tel: 0525817356
                </div>
                <div>
                    Email: natdoukhan@gmail.com
                </div>
                <div>
                    Whatsapp: 0525817356
                </div>
                <div>
                    Adresse: Zeev Haklay 15 Jérusalem    
                </div>
            </div>
            <form class="form-contact" action="">
                <input type="text" name="name" placeholder="Entrer votre nom" required>
                <span class="required">*</span> <br> <br>
                <input type="tel" name="tel" placeholder="Entrer votre telephone" required>
                <span class="required">*</span> <br> <br>
                <input type="email" name="email" placeholder="Entrer votre email" required>
                <span class="required">*</span> <br> <br>
                <textarea name="" id="" cols="30" rows="10" placeholder="Entrer otre message ici" required></textarea>
                <span class="required">*</span> <br>
                <button type="submit">ENVOYER</button>
            </form>
        </div>

    </div>
</section>


<%- include('../partials/footer') %>