<%- include('../partials/header') %>


<section>
    <div class="container">
        <h1>Un apperçu de nos prestations</h1>

        
        <div>
            <h2>
                Mariage
            </h2>
            <figure class="galerie">
                <div><img src="/assets/images/site/computer_and_flowers2.jpg" alt=""></div>
                <div><img src="/assets/images/site/demande_mariage.jpg" alt=""></div>
                <div><img src="/assets/images/site/handOnComputer2.jpg" alt=""></div>
                <div><img src="/assets/images/site/mariage.jpg" alt=""></div>
                <div><img src="/assets/images/site/working-on-code2.jpg" alt=""></div>
            </figure>
        </div>
    </div>
</section>


<%- include('../partials/footer') %>