<footer>
    <div class="container">
        <form class="form-footer" action="" method="post">
            <p>
                Besoin de renseignements ? <br>
                Veuillez nous envoyer vos coordonnées, nous vous contacterons rapidement !
            </p>
            <input type="text" name="name" placeholder="Entrer votre nom">
            <input type="tel" name="tel" placeholder="Entrer votre telephone">
            <input type="email" name="email" placeholder="Entrer votre email">
            <button type="submit">ENVOYER</button>
        </form>
        <div>
            <nav>
                <ul>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                    <li>
                        <a href="https://facebook.com" target="_blank" rel="noreffer">Facebook</a>
                    </li>
                    <li>
                        <a href="https://twitter.com" target="_blank" rel="noreffer">Twitter</a>
                    </li>
                    <li>
                        <a href="https://youtube.com" target="_blank" rel="noreffer">Youtube</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</footer>

</body>
</html>