<footer>
    <div class="container">
        <form class="form-footer" action="" method="post">
            <p>
                Besoin de renseignements ? <br>
                Veuillez nous envoyer vos coordonnées, nous vous contacterons rapidement !
            </p>
            <div><input type="text" name="name" placeholder="Entrer votre nom"></div>
            <div><input type="tel" name="tel" placeholder="Entrer votre telephone"></div>
            <div><input type="email" name="email" placeholder="Entrer votre email"></div>
            <button class="btn btn-gray" type="submit">ENVOYER</button>
        </form>
        <div>
            <nav>
                <ul>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/mykeul.benitah" target="_blank" rel="noreffer">Facebook</a>
                    </li>
                    <li>
                        <a href="https://twitter.com" target="_blank" rel="noreffer">Twitter</a>
                    </li>
                    <li>
                        <a href="https://youtube.com" target="_blank" rel="noreffer">Youtube</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</footer>

    <script type="module" src="/js/app.js"></script>
    <script src="/js/modules/bootstrap/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="/js/modules/jquery.js"></script>

</body>
</html>