<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title><%= pageTitle %> - Mike Events</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src="https://kit.fontawesome.com/1406b0d971.js"></script>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/style.css'>
    <!-- <script src='main.js'></script> -->
</head>
<body>

    <header>
        <div class="container">
            <div class="logo_tel">
                <div>MIKE EVENT</div>
                <div><i class="fas fa-phone-alt"></i>0525817356</div>
            </div>
        </div>
        <nav>
            <ul>
                <li>
                    <a href="/">Acceuil</a>
                </li>
                <li>
                    <a href="/galerie">Galerie</a>
                </li>
                <li>
                    <a href="/contact">Contact</a>
                </li>
                <li>
                    <a href="/a_propos">Sur nous</a>
                </li>
            </ul>
        </nav>
    </header>